---
layout: default
title: Proyectos
lang: es
ref: projects
---
<div class="blurb">
    <h1>{{ page.title }}</h1>
    <p>Ésta es la lista de mis proyectos personales.</p>
    
    <p>
        <span class="fab fa-github"></span> 
        También pueden ver mi página de 
        <a href="https://github.com/mimg2805" target="_blank">GitHub</a>.
    </p>

    <p>
        <span class="fab fa-paypal"></span>
        Si les gusta lo que hago, consideren ayudarme a crear más aplicaciones y juegos: 
        <a id="donate" href="https://paypal.me/mimg2805" target="_blank"></a>
    </p>
    
    <br/>
    <hr/>
    <br/>

    <section class="projects-apps">
        <h2><span class="fas fa-mobile"></span> Aplicaciones móviles</h2>
        {% for p in site.projects %}
        {% if p.type == "app" %}
        <div class="project-item">
            <div class="project-item-logo">
                <img src="/assets/images/projects/{{ p.image }}" />
            </div>
            <div class="project-item-info">
                <h3>{{ p.title }}</h3>
                <p>
                    <strong>Descripción: </strong>
                    {{ p.description[page.lang] }}
                </p>
                <p>
                    <strong>Plataformas: </strong>
                    {% if p.platforms contains "windows" %}
                    <span class="fab fa-windows"></span>
                    {% endif %}
                    {% if p.platforms contains "osx" %}
                    <span class="fab fa-apple"></span>
                    {% endif %}
                    {% if p.platforms contains "linux" %}
                    <span class="fab fa-linux"></span>
                    {% endif %}
                    {% if p.platforms contains "android" %}
                    <span class="fab fa-android"></span>
                    {% endif %}
                    {% if p.platforms contains "ios" %}
                    <span class="fab fa-app-store-ios"></span>
                    {% endif %}
                </p>
                <p>
                    {% if p.status %}
                    <strong>Estado: </strong>
                    {{ p.status }}
                    {% else if p.version %}
                    <strong>Versión: </strong>
                    {{ p.version }}
                    {% endif %}
                </p>
                <p>
                    <strong>Precio: </strong>
                    {% if p.price == "free" %}
                    Gratis
                    {% else %}
                    $ {{ p.price }}
                    {% endif %}
                </p>
                <a class="btn btn-github" href="{{ p.playstore_url }}" target="_blank">
                    <span class="fab fa-google-play"></span>
                    Ver en Google Play Store
                </a>
                <a class="btn btn-github" href="{{ site.github_url }}{{ p.name }}" target="_blank">
                    <span class="icon"></span>
                    Ver en GitHub
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>
    
    <hr/>
    <br/>

    <section class="projects-games">
        <h2><span class="fas fa-gamepad"></span> Juegos</h2>
        {% for p in site.projects %}
            {% if p.type == "game" %}
                <div class="project-item">
                    <div class="project-item-logo">
                        <img src="/assets/images/projects/{{ p.image }}" />
                    </div>
                    <div class="project-item-info">
                        <h3>{{ p.title }}</h3>
                        <p>
                            <strong>Descripción: </strong>
                            {{ p.description[page.lang] }}
                        </p>
                        <p>
                            <strong>Plataformas: </strong>
                            {% if p.platforms contains "windows" %}
                                <span class="fab fa-windows"></span>
                            {% endif %}
                            {% if p.platforms contains "osx" %}
                                <span class="fab fa-apple"></span>
                            {% endif %}
                            {% if p.platforms contains "linux" %}
                                <span class="fab fa-linux"></span>
                            {% endif %}
                            {% if p.platforms contains "android" %}
                                <span class="fab fa-android"></span>
                            {% endif %}
                            {% if p.platforms contains "ios" %}
                                <span class="fab fa-app-store-ios"></span>
                            {% endif %}
                        </p>
                        <p>
                            {% if p.status %}
                                <strong>Estado: </strong>
                                {{ p.status[page.lang] }}
                            {% else if p.version %}
                                <strong>Versión: </strong>
                                {{ p.version }}
                            {% endif %}
                        </p>
                        <p>
                            <strong>Precio: </strong>
                            {% if p.price == "free" %}
                                Gratis
                            {% else %}
                                $ {{ p.price }}
                            {% endif %}
                        </p>
                        <a class="btn btn-github" href="{{ p.playstore_url }}" target="_blank">
                            <span class="fab fa-google-play"></span>
                            Ver en Google Play Store
                        </a>
                        <a class="btn btn-github" href="{{ site.github_url }}{{ p.name }}" target="_blank">
                            <span class="icon"></span>
                            Ver en GitHub
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    
</div>