---
layout: default
title: Proyectos
---
<div class="blurb">
    <h1>Proyectos</h1>
    <p>Ésta es la lista de mis proyectos personales.</p>
    
    <p>
        <span class="fab fa-github"></span> 
        También pueden ver mi página de 
        <a href="https://github.com/mimg2805">GitHub</a>.
    </p>
    
    <br/>
    <hr/>
    <br/>

    <section class="projects-games">
        <h2><span class="fas fa-gamepad"></span> Juegos</h2>
        {% for p in site.projects %}
            {% if p.type == "game" %}
                <div class="project-item">
                    <div class="project-item-logo">
                        <img src="{{ p.image_path }}" />
                    </div>
                    <div class="project-item-info">
                        <h3>{{ p.title }}</h3>
                        <p>
                            <strong>Descripción: </strong>
                            {{ p.description }}
                        </p>
                        <p>
                            <strong>Plataformas: </strong>
                            {% if p.platforms contains "windows" %}
                                <span class="fab fa-windows"></span>
                            {% endif %}
                            {% if p.platforms contains "osx" %}    
                                <span class="fab fa-apple"></span>
                            {% endif %}
                            {% if p.platforms contains "linux" %}
                                <span class="fab fa-linux"></span>
                            {% endif %}
                            {% if p.platforms contains "android" %}
                                <span class="fab fa-android"></span>
                            {% endif %}
                            {% if p.platforms contains "ios" %}    
                                <span class="fab fa-app-store-ios"></span>
                            {% endif %}
                        </p>
                        <p>
                            <strong>Estado: </strong>
                            {{ p.status }}
                        </p>
                        <p>
                            <strong>Precio: </strong>
                            {% if p.price == "free" %}
                                Gratis
                            {% else %}
                                $ {{ p.price }}
                            {% endif %}
                        </p>
                        <a class="btn btn-github" href="{{ site.github_url }}{{ p.name }}" target="_blank">
                            <span class="icon"></span>
                            Ver en GitHub
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    
    <br/>
    <hr/>
    <br/>

    <section class="projects-apps">
        <h2><span class="fas fa-mobile"></span> Aplicaciones móviles</h2>
        {% for p in site.projects %}
            {% if p.type == "app" %}
                <div class="project-item">
                    <div class="project-item-logo">
                        <img src="{{ p.image_path }}" />
                    </div>
                    <div class="project-item-info">
                        <h3>{{ p.title }}</h3>
                        <p>
                            <strong>Descripción: </strong>
                            {{ p.description }}
                        </p>
                        <p>
                            <strong>Plataformas: </strong>
                            {% if p.platforms contains "windows" %}
                                <span class="fab fa-windows"></span>
                            {% endif %}
                            {% if p.platforms contains "osx" %}    
                                <span class="fab fa-apple"></span>
                            {% endif %}
                            {% if p.platforms contains "linux" %}
                                <span class="fab fa-linux"></span>
                            {% endif %}
                            {% if p.platforms contains "android" %}
                                <span class="fab fa-android"></span>
                            {% endif %}
                            {% if p.platforms contains "ios" %}    
                                <span class="fab fa-app-store-ios"></span>
                            {% endif %}
                        </p>
                        <p>
                            <strong>Estado: </strong>
                            {{ p.status }}
                        </p>
                        <p>
                            <strong>Precio: </strong>
                            {% if p.price == "free" %}
                                Gratis
                            {% else %}
                                $ {{ p.price }}
                            {% endif %}
                        </p>
                        <a class="btn btn-github" href="{{ site.github_url }}{{ p.name }}" target="_blank">
                            <span class="icon"></span>
                            Ver en GitHub
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
</div>
