#joke {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

#donate {
    display: block;
    width: 92px;
    height: 26px;
    background: url("../images/paypal_donate.png") no-repeat;
    margin-top: 10px;
}