/* Hide body until icons load */

body {
    display: none;
}

.fontawesome-i2svg-active body {
    display: initial;
}

$break-small: 480px;

header {
    padding: 1em 0 3em 0;

    .container {
        max-width: 910px;
        h1 {
            margin: 0 auto;
        }
        nav div {
            float: left;
            margin-right: 4.2em;
            @media screen and (max-width: $break-small) {
                //margin-right: 11em;
            }
        }
    
        @media screen and (max-width: $break-small) {
            padding-bottom: 110px;
            margin: 0 40px;
            h1 {
                //margin-left: -20px;
            }
        }
    }
}

.photo {
    width: 150px;
    height: width;
    margin: 0 auto;
    img {
        border-radius: 75px;
    }
}
