// Hide body until icons load
body {
    display: none;
}

.fontawesome-i2svg-active body {
    display: initial;
}

.center {
    text-align: center;
}

header {
    padding: 1em 0 3em 0;
    .container {
        h1 {
            margin: 0 auto;
        }
        nav div {
            float: left;
            margin-right: 2em;
        }
    }
}

.photo {
    width: 150px;
    height: width;
    margin: 0 auto;
    img {
        border-radius: 75px;
    }
}



@media screen and (max-width: 640px) {
    header .container {
        padding-bottom: 1em;
        margin: 0 30px;    
    }
}



@media screen and (max-width: 480px) {
    header .container {
        padding-bottom: 7em;
        nav div {
            margin-right: 14em;
        }    
    }
}



@media screen and (max-width: 350px) {
    header .container nav div {
        margin-right: 8em;    
    }
}