h2 svg {
    color: white;
}

.project-item {
    height: 300px;
    //margin-bottom: 50px;
}

.project-item-logo {
    float: left;
    width: 20%;
    height: 100%;
}

.project-item-info {
    float: left;
    width: 75%;
    height: 100%;
    margin-left: 5%;
    p {
        font-size: 16px;
        svg {
            font-size: 24px !important;
        }
    }
}