<!DOCTYPE html>
<html lang="{{ site.lang | default: 'es' }}">
  <head>
    {% include header.html %}
    {% seo %}
  </head>

  <body>

    <header>
      <div class="container header">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <ul id="lang-select">
          {% assign pages = site.pages | where: "ref", page.ref | sort: 'lang' %}     
          {% for page in pages %}
            <li>
              {% case page.lang %}
                {% when "es" %}
                  {% assign flag = "es" %}
                {% when "en" %}
                  {% assign flag = "gb" %}
                {% when "ja" %}
                  {% assign flag = "jp" %}
              {% endcase %}
              <img src="/assets/flags/blank.gif" class="flag flag-{{ flag }}"/>
              <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
          {% endfor %}
        </ul>

        {% assign navLang = site.data.translations.t[page.lang] %}
        <nav>
            <div>
              <span class="fas fa-home"></span>
              <a href="{{ navLang.home.url }}">{{ navLang.home.title }}</a>
            </div>
            <div>
              <span class="fas fa-child"></span> 
              <a href="{{ navLang.about.url }}">{{ navLang.about.title }}</a>
            </div>
            <div>
              <span class="fas fa-code"></span> 
              <a href="{{ navLang.projects.url }}">{{ navLang.projects.title }}</a>
            </div>
            <div>
              <span class="fas fa-briefcase"></span> 
              <a href="{{ navLang.cv.url }}">{{ navLang.cv.title }}</a>
            </div>
            <div>
              <span class="fas fa-phone"></span> 
              <a href="{{ navLang.contact.url }}">{{ navLang.contact.title }}</a>
            </div>
        </nav>

        <!--
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
        -->
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>